#container{
	width: 1000px;
	height: 650px;
	margin-left: auto;
	margin-right: auto;
}
#logo{
	height: 44px;
	background-color: #101010;
	color: #FFFF66;
	text-align: center;/*NO: float: left, cause one under another!!!*/
}
#content{
	height: 650px;
	width: 1000px;
	background-color: #FFFF66;
	color: #101010;
	display:inline-block;/*eliminated the SPACE between div_s !!!*/
}
#footer{
	height: 50px;
	width: 1000px;
	background-color: #101010;
	color: #FFFF66;
	text-align: center;
	display:inline-block;
	padding-top: 15px;
	padding-bottom: 15px
}
h1{
	border: 3px #FFFF66 solid;
	border-style: double;
}
@media screen and (max-width:959px){ /*WIDTH important*/
		#container{
			width:100%;
}
}
@media screen and (max-width:320px){ /*WIDTH important*/
		#container{
			width:320px;
}
}
